
.about-page {
    padding: 20px;
    background-color: #fafafa;
  }
  
 
  .about-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .about-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .about-header img {
    width: 90%;
    height: 10%;
    border-radius: 10%;
    margin-bottom: 20px;
  }
  
  .about-header p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
  }
  
 
  .faq-section {
    margin-top: 40px;
  }
  
  .faq-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .carousel {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .faq-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .faq-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .faq-item p {
    font-size: 16px;
    color: #666;
  }
  
 
  .contact-info {
    margin-top: 40px;
    text-align: center;
  }
  
  .contact-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    font-size: 16px;
    color: #333;
  }
  
  .contact-info a {
    color: #007bff;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  