.custom-button {
    display: block;
    margin: 10px auto 0;
    background-color: #f09;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
  }
  
  .custom-button:hover {
    background-color: #c06;
  }
  