.homepage {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
    gap: 20px;
    background-color: #fafafa;
  }
  
  .card {
    display: flex; 
    flex-direction: column; 
    width: 70%; 
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(251, 122, 176, 0.1);
    background-color: lavenderblush;
    text-align: center;
    gap: 1rem;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgb(226, 79, 155);
  }
  
 
  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .card-links {
    margin: 15px 0;
    font-size: 14px;
    color: #313131;
    line-height: 1.5;
  }
  
  .card-links div {
    font-weight: 500;
    color: #333;
  }
  
  .learn-more-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .learn-more-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }


  
  

  @media (min-width: 1024px) {
    .card {
      flex-direction: row; 
      align-items: center; 
      text-align: left; 
    }
  
    .card img {
      width: 40%; 
      height: auto; 
    }
  
    .card-content {
      flex: 1; 
      padding-left: 1rem; 
    }
  }
  